<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Mansi/IdeaProjects/RS-Project">
        <parameter name="username" value="mansijukariya24@gmail.com"></parameter>
        <parameter name="password" value="Mansi@123"></parameter>
        <classes>
            <class name="LoginTest" />
        </classes>
    </test>
</suite>